.tab {
  color: black;
  flex: 1 0 auto;
  padding: 10px;
  border-bottom: 4px solid;
  border-bottom-color: #ccc;
  cursor: pointer;

  &.active {
    border-bottom-color: #000;
  }

  &.disabled {
    opacity: 0.25;
    cursor: default;
  }
}

.tab-component {
  color: black;
}

.tab-panels {
  padding: 10;
}

.tabs {
  border: 4px solid grey;
}

.tabs-list {
  display: flex;
}

.hard-to-reach {
  font-size: 5rem;
}
